<a href="/clients/new">main control panel</a>--><b>client added</b>
<br><br>

<table>
<tr><td><u>first_name</u></td><td><u>last_name</u></td><td><u>address</u></td><td><u>phone_number</u></td><td><u>email</u></td></tr>
<tr><td><%= @client.first_name %></td><td><%= @client.last_name %></td><td><%= @client.address %></td><td><%= @client.phone_number %></td><td><%= @client.email %></td></tr></table>
